@mixin button
  font: inherit
  text-rendering: optimizeLegibility
  text-transform: uppercase
  text-decoration: none
  font-family: AkagiRegular
  display: block
  color: white
  padding: 5px 15px
  border: none
  +border-radius(4px)
  background-color: $pink
  +transition(all, 0.3s)
  &:hover
    background-color: lighten($pink, 4%)
  &:active
    +transition(none)
    padding: 6px 14px 4px 16px
  &:disabled
    color: $grey
    background-color: $light_grey
